################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs
/src/Api/bin
/src/Api/obj
/src/Client/bin
/src/Client/obj
/src/IdentityServer/bin
/src/IdentityServer/obj
/src/IdentityServerAspNetIdentity/bin
/src/IdentityServerAspNetIdentity/obj
/src/WebClient/bin
/src/WebClient/obj
/src/JavaScriptClient/bin/Debug/net8.0
/src/JavaScriptClient/obj
/src/SPA/bin/Debug/net8.0
/src/SPA/obj
/src/SPA/wwwroot/node_modules
